
    <form action="/quizes">
        <label for="search">
            Buscar:
            <input id="search" type="text" name="search">
        </label>
        <input type="submit" value="Buscar">
    </form>

    <table>
        <% if (quizes.length == 0) { %>
        <tr>
            <td>No hay resultados</td>
        </tr>
        <% } for (var i=0; i < quizes.length; i++) { %>
        <tr>
            <td><%= i + 1 %></td>
            <td class="pregunta"><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
            <td class="tema"><%= quizes[i].tema %></td>
            <td><a href="/quizes/<%= quizes[i].id %>/edit"><button type="button">Editar</button></a></td>
            <td>
                <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
                    <button type="submit" onClick="return confirm('Esta seguro que quieres borrar la pregunta: **<%= quizes[i].pregunta %>** ???');">
                        Borrar
                    </button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/quizes/new"><button type="button">Crear nueva pregunta</button></a>