
    <form method="GET" action="/quizes/<%= quiz.id %>/answer">
        Pregunta <%= quiz.pregunta %><p>
        <input type="text" name="respuesta" value="Responde Aquí">
        <input type="submit" value="Responder">
    </form><br>

    <p><a href="/quizes/<%=quiz.id%>/comments/new"><button>Nuevo Comentario</button></a></p><br>

    <p><b>Comentarios:</b><br>
    <ul>
    <% for (index in quiz.Comments) { %>
        <% if (quiz.Comments[index].publicado || session.user) { %>
            <li><%= quiz.Comments[index].texto %>
            <% if (!quiz.Comments[index].publicado && session.user) { %>
                <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
                    <button>Publicar</button>
                </a>
            <% } %>
            </li>
        <% } %>
    <% } %>
    </ul>
    </p>